@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.App {
  background-color: var(--theme-color);
  /* #0e1111; */
  color: var(--theme-page-text);
}

header {
  display: flex;
  padding: 1rem;
  background-color: var(--theme-header);
}
header form {
  margin-left: auto;
}
header span {
  font-size: xx-large;
  font-family: "Grand Hotel", cursive;
}
header span {
  cursor: pointer;
}
.links {
  align-self: center;
  margin-left: 4rem;
}
.links button {
  color: var(--theme-page-text);
  background-color: var(--theme-header);
  border: 0;
  font-size: medium;
  margin-left: 1.2rem;
  font-family: "Nunito", sans-serif;
  cursor: pointer;
}
.watchlist {
  align-self: center;
  margin-right: 1rem;
  color: var(--theme-page-text);
  background-color: var(--theme-header);
  font-size: medium;
  border: 0;
  font-family: "Nunito", sans-serif;
  cursor: pointer;
  letter-spacing: 3px;
  font-weight: 600;
}

.kids {
  font-family: "Permanent Marker", cursive;
  font-size: xx-large;
}
@media (max-width: 1182px) {
  .links {
    margin-left: 0;
  }
}
@media (max-width: 960px) {
  .links {
    display: none;
  }
}

.searchbar {
  background-color: var(--theme-header);
  border: 2px solid #0e1111;
  color: var(--theme-page-text);
  border-radius: 20px;
  font-size: 1rem;
  padding: 0.5rem 1.5rem;
}
.searchbar:focus {
  outline: 0;
}
.theme-button {
  background: rgba(0, 0, 0, 0);
  border: 0;
  margin-left: 2px;
  font-size: x-large;
}
.theme-button:focus {
  outline: 0;
}
nav {
  text-align: end;
  margin-right: 4rem;
  margin-top: 0.5rem;
}
nav button {
  font-size: x-large;
  color: var(--theme-page-text);
  background: rgba(0, 0, 0, 0);
  border: 0;
}
nav button:hover {
  cursor: pointer;
}
nav button:focus {
  outline: 0;
}
.bottomNav {
  padding-bottom: 1.5rem;
}
.movie {
  background-color: var(--theme-header);
  margin: 1rem;
  width: 300px;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  overflow: hidden;
  position: relative;
}
.movie img {
  width: 100%;
}
.movieContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.movieInfo {
  display: flex;
  padding: 1rem;
  align-items: center;
  justify-content: space-between;
}

.movieInfo h3 {
  margin: 0;
}
.movieOverview h2 {
  display: inline;
}
.watchlistCard {
  float: right;
  color: var(--theme-movie-font-overview);
  background-color: var(--theme-movie-bg-overview);
  font-family: "Nunito", sans-serif;
  cursor: pointer;
}
.watchlistCard:active {
  border: 1px solid;
}

.movieOverview {
  color: var(--theme-movie-font-overview);
  background-color: var(--theme-movie-bg-overview);
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  padding: 1rem;
  transform: translateY(102%);
  transition: transform 0.3s ease-in-out;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.3);
  overflow: auto;
  max-height: 100%;
}
.movie:hover .movieOverview {
  transform: translateY(0%);
}
